.container {
    background-color: #efefef;
    width: 60%;
    margin: 0 auto;
    color: #000;
    border-radius: 10px;
    padding: 30px;
}

p {
    color: #000000;
}

ul {
    border: 5px solid #000;
}